*{
    padding: 0;
    margin: 0;
}

#code{
    width: 80%;
    height: 30%;
}

#input{
    width: 80%;
    display: block;
}

.leftPage{
    width: 50%;
    height: 100%;
    display: inline-block;
    white-space: pre-wrap;
    padding: 3%;
}

.rightPage{
    width: 50%;
    height: 100%;
    display: inline-block;
    position: fixed;
    padding: 3% 0;
}

.start{
    width: 50%;
    text-align: center;
    margin: auto;
}